@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  src: url("../../public/fonts/PlusJakartaSans-ExtraBold.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../../public/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url("../../public/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("../../public/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Light";
  src: url("../../public/fonts/Ubuntu-Light.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.grayImg {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1);
}